﻿@page "/Client"
@inject HttpClient httpClient
@inject NavigationManager manager

<h1>Creación de clientes</h1>

<form @onsubmit="Submit">
    <label for="clientName">Nombre del cliente</label>
    <input type="type" name="Name" @bind="clientName" /><br />    
    <button type="submit">Crear cliente</button>
</form>

@code {
    public virtual string clientName { get; set; }

    public async Task Submit(EventArgs args)
    {   
        var payload = new { clientName };
        var response = await httpClient.PostAsJsonAsync("https://localhost:44373/api/Client", payload);

        if (response.IsSuccessStatusCode)
        {
            var clientData = await response.Content.ReadFromJsonAsync<Client>();
            manager.NavigateTo("/Client/get");
        }
    }
}
