﻿@page  "/Client/get"
@inject HttpClient httpClient
@inject NavigationManager manager

<h1>Vista de Clientes</h1>

@if (Client != null)
{
    <h2>Detalle de cliente</h2>
    foreach (var item in Client)
    {

        <ul>
            <li>Id: @item.ClientId</li>
            <li>Nombre: @item.ClientName</li>
            <li>Numero: @item.ClientNumber</li>
            <li>Fecha de inserción: @item.InsertDate</li>
        </ul>
    }
}

<h1>Creación de clientes</h1>

<form @onsubmit="Submit">
    <label for="clientName">Nombre del cliente</label>
    <input type="type" name="Name" @bind="clientName" /><br />
    <button type="submit">Crear cliente</button>
</form>

@code {
    [Parameter]
    public virtual int ClientId { get; set; }
    public virtual Client[] Client { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Client = await httpClient.GetFromJsonAsync<Client[]>("https://localhost:44373/api/Client");
    }

    public virtual string clientName { get; set; }

    public async Task Submit(EventArgs args)
    {
        var payload = new { clientName };
        var response = await httpClient.PostAsJsonAsync("https://localhost:44373/api/Client", payload);

        if (response.IsSuccessStatusCode)
        {
            var clientData = await response.Content.ReadFromJsonAsync<Client>();
            manager.NavigateTo("/Client/get");
        }
    }
}