﻿@page  "/product"
@inject HttpClient httpClient
@inject NavigationManager manager

<h2>Vista de productos</h2>

@if (Product != null)
{
    <h3>Detalle de Producto</h3>
    foreach (var item in Product)
    {

        <ul>
            <li>Id: @item.ProductId</li>
            <li>Nombre: @item.Name</li>
            <li>Numero: @item.ProductNumber</li>
            <li>Tipo: @item.ProductType</li>
            <li>Tipo: @item.ProductStatus</li>
        </ul>
    }
}

<h1>Creación de producto</h1>

<form @onsubmit="Submit">
    <label for="Name">Nombre del producto</label>
    <input type="type" name="Name" @bind="Name" /><br />
    <label for="productType">Tipo de producto</label>
    <input type="type" name="productType" @bind="productType" /><br />
    <button type="submit">Crear producto</button>
</form>

@code {
    [Parameter]

    public virtual int ProductId { get; set; }
    public virtual Product[] Product { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Product = await httpClient.GetFromJsonAsync<Product[]>("https://localhost:44373/api/Product");
    }

    public virtual string Name { get; set; }
    public virtual string productType { get; set; }

    public async Task Submit(EventArgs args)
    {
        var payload = new { Name, productType };
        var response = await httpClient.PostAsJsonAsync("https://localhost:44373/api/Product", payload);

        if (response.IsSuccessStatusCode)
        {
            var productData = await response.Content.ReadFromJsonAsync<Client>();
            manager.NavigateTo("/product");
        }
    }

}
