﻿@page  "/user"
@inject HttpClient httpClient
@inject NavigationManager manager

<h2>Vista de Usuarios</h2>

@if (User != null)
{
    <h3>Detalle de Usuarios</h3>
    foreach (var item in User)
    {
        
        <ul>
            <li>Id: @item.AbcUserId</li>
            <li>Nombre: @item.Name </li>
            <li>Tipo: @item.UserType</li>
        </ul>
    }
}


@code {
    [Parameter]

    public virtual int UserId { get; set; }
    public virtual User[] User { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        User = await httpClient.GetFromJsonAsync<User[]>("https://localhost:44373/api/User");
    }

   
}
